@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --neon-lime: 210, 255, 0;
  --neon-lime-dark: 180, 220, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text-neon-lime {
  color: rgb(var(--neon-lime));
}

.bg-neon-lime {
  background-color: rgb(var(--neon-lime));
}

.hover\:bg-neon-lime-dark:hover {
  background-color: rgb(var(--neon-lime-dark));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

